# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data and Models (Keep specific files if necessary)
data/
models/

# VS Code / IDEs
.vscode/
.idea/
.DS_Store